.container{
    padding: 6% 10% 4%;
    background-color: #15121b;
    width: 100%;
    /* height: 300px;; */
    position: relative;
    text-align: center;
}

.upper_content{
    width: 50%;
    margin:0 auto;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.upper_content > div{
    position: relative;
    /* width: 50%; */
    /* background-color: red; */
    margin: 0 auto;
    width: 500px;
}

.crown_container{
    position: absolute;
    top:-30%;
    left: -10%
    /* background-color: red; */
}


.lower_content {
  width: 100%;
  display: flex;
  align-items: stretch; /* ⬅ Makes all boxes same height */
  justify-content: space-evenly;
  gap: 20px;
}

.box {
  width: 30%;
  max-width: 500px;
  /* aspect-ratio: 1 / 1.15;   */
  /* ⛔ REMOVE THIS LINE */
  text-align: left;
  border: 6px solid transparent;
  border-radius: 10px;
  background: linear-gradient(black, black) padding-box,
              linear-gradient(to bottom, #5311b3, #cb2cb3) border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2%;
  box-sizing: border-box;
}

.box p{
    font-size: 12px;
    color: grey;
}

.image_container{
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    color:white;
    border-radius: 10px;
    background-color: #302A36;
    margin-bottom: 20px;
}

.icon{
    height: 100%;
    width: 100%;
}

.circleContainer{
    position: absolute;
    top:0;
    left:0;
    /* background-color: red; */
  }

  .circle{
    width: 100%;
    height: 100%;
  }

  .dotContainer{
    position: absolute;
    top:35%;
    right: 0;
  }
  .stringContainer{
    position: absolute;
    top:0;
    right: 0;;
  }

@media (max-width: 600px) {

    .upper_content{
        width: 100%;
        font-size: 20px;
    }
        .lower_content{
            display: block;
        }

        .box{
            /* aspect-ratio: 1 / 0.5; Ensures square shape */
            width: 100%;
            margin-bottom: 40px;
            padding: 30px;
            /* padding-top: 5%; */
        }

        .box p{
    font-size: 15px;
    color: grey;
}

        .upper_content > div{
            width: 100%;
        }

        .crown_container{
            top:-50%;
            left:-5% 
        }
    
}

@media (min-width: 1500px) {
    .box p{
    font-size: 20px;
    color: grey;
}
.box h5{
    font-size: 30px;;
}
.image_container{
    width: 75px;
    height: 75px;
}

    
}
.blue{
    color:#5311b3;
    font-style: italic;
}

.mix{
    background: linear-gradient(to right, #5311B3 , #CB2CB3 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    /* Optional for cross-browser support */
    background-clip: text;
    color: transparent;
    font-style: italic;

}

.pink{
    color: #cb2cb3;
    font-style: italic;

}